# ====================
# Java & Gradle
# ====================
.gradle/
**/build/
!src/**/build/
build.gradle.kts
settings.gradle.kts
gradle-app.setting
.gradletasknamecache

!gradle-wrapper.jar
!gradle-wrapper.properties

# ====================
# Logs & Temp
# ====================
logs/
*.log
npm-debug.log*
yarn-debug.log*
.DS_Store
Thumbs.db

# ====================
# IDE (IntelliJ & VS Code)
# ====================
.idea/
*.iml
*.iws
.project
.classpath
.settings/
.vscode/
!.vscode/extensions.json

# ====================
# Dependency & Build (Frontend/Node)
# ====================
node_modules/
dist/
dist-ssr/
out/
target/
*.class

# ====================
# Configuration & Secrets
# ====================
api/src/main/resources/application-dev.yaml
api/src/main/resources/application-prod.yaml
api/src/main/resources/application-dev.properties
api/src/main/resources/application-prod.properties

.env
.env.*
*.local

# ====================
# OS & Misc
# ====================
*.sw?
Desktop.ini